*, :after, :before {
    box-sizing: border-box;
}

:root {
    --gutter-width: 30px;
    --padding-xs: 10px;
    --padding-sm: 20px;
    --padding-page: 15px;
    --margin-bottom:20px;
    --border-radius:6px;
}

/* Layout */
.page {
    padding: var(--padding-page);
}

/* Header */

#header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: var(--gutter-width);
    margin-bottom: var(--padding-xs)
}

#header .logo {
    height: 40px;
    width: 40px;
    overflow: hidden;
    position: relative;
}

#header .logo img {
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%)  scale(0.65);
}

#header .btnMenu {
    width: 20px;
    height: 20px;
}

#header .searchBar {
    width: 100%;
}

#header .searchBar input {
    border: 1px solid #dadada;
    padding: 10px 15px;
    width: 100%;
}


.menu_hg{
    width: 20px;
    height: auto;
}
.recherche_bar{
    display: flex;
    flex-direction: column;
    justify-content: center
}

.meteo {
    display: flex;
    justify-content: center;
    border-style: solid ;
    border-width: 1px;
    border-color: black;
    height: 155px;
    width: 314px;
    margin-bottom:var(--margin-bottom);
    border-radius: var(--border-radius);
    
}

.background_meteo{
    position: static;
    height: 153px;
    width: 312px;
}

.widget{
    position: absolute;
}

.notification{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: var(--border-radius);
    height:100% ;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
    gap: 5px;
}

.notif{
    display: flex;
    align-self: center;
    height: 80px;
    width: 314px;
    border: solid 1px black;
    margin-bottom: 5px;
    background-color: antiquewhite;
    padding: 20px;
}
.date{
    display: flex;
    align-self: center;
    height: 80px;
    width: 314px;
    border: solid black 1px;
    background-color: aquamarine;
}






