.all_page{
    display: flex ;
    flex-direction: column;
    gap: 12px;
}
.all_page>section{
    border-radius: 8px;
}
.menu {
    width: 30px;
    height: 30px;
}
.menu_nav {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    margin-bottom: 12px;
    gap: 16px;
}

.menu_input {
    flex: 1;
    max-width: 400px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.meteo {
    display: flex;
    border-style: solid ;
    border-width: 1px;
    border-color: black;


}

.background_cloud {
    width: 100%;
    height: 100%;

}

.notification{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 4px;
    

}
.notif2 {
    display: flex;
    justify-content: center;
}
.bouton_tout_voir {
    display: flex;
    justify-content: center;
   
}
#tout_voir {
    background-color: aqua;
    width: 100%;
    height: 30PX;
    border: solid 1px black;
    border-radius: 4PX;
    
    
}