:root {
    --gutter-width: 30px;
    --padding-xxs: 5px;
    --padding-xs: 10px;
    --padding-sm: 20px;
    --padding-L :30px;
    --padding-page: 15px;
    --margin-bottom:10px;
    --border-radius:6px;
    --gap-s: 5px;
    --gap-m: 10px;
    --gap-l: 20px;
    --gap-xl: 30px;
}