.mainMenu {
    position: fixed;
    z-index: 99;
    background: rgba(0,0,0,0.8);
    top: 0;
    left: 0;
    bottom: 0;
    right: 30%;
    display: none;

    &.visible {
        display: block;
        padding-left: 20px;
    }

    ul {
        li {
            a {
                display: block;
                padding: var(--padding-sm) 0;
                text-align: left;
                color: #FFA500;
                font-weight: bold;
                font-size: 20px;
                
            }
        }
    }
}

.mainMenu>.close-mainMenu{
    display: flex;
    justify-content: right;
}


.close-mainMenu {
    padding: 10px;
    display: block;
    
    svg {
        color: #fff;
        width: 30px;
    }
}