@use 'elements/reset';
@use 'elements/document';

@use 'settings/config.colors';

@use 'components/sections';
@use 'components/mainmenu';

/** Pages du site **/
@use 'pages/home';
@use 'pages/meteo';



:root {
    --gutter-width: 30px;
    --padding-xs: 10px;
    --padding-sm: 20px;
    --padding-page: 15px;
    --margin-bottom:10px;
    --border-radius:6px;
}
:root {
    --notif-text-color: #333;
    --notif-background-color: transparent;
    --notif-date-color: #333;
}
body{
    background-image: url("../images/fond_decran.png");
}

/* Layout */
.page {
    padding: var(--padding-page);
    
    
}

/* Header */

#header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: var(--gutter-width);
    margin-bottom: var(--padding-xs)
}

#header .logo {
    height: 40px;
    width: 40px;
    overflow: hidden;
    position: relative;
    min-width: 40px;
}

#header .logo img {
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%)  scale(0.65);
}

#header .btnheader_btn_MenuMenu {
    width: 20px;
    height: 20px;
}

#header .search_Bar {
    width: 100%;
}

#header .search_Bar input {
    border: 1px solid #dadada;
    padding: 10px 15px;
    width: 100%;
}


.header_btn_menu_logo{
    width: 20px;
    height: auto;
  
    
}
.header_btn_Menu img{
    width: 45px;
    height: 45px;
}
// .search_Bar{

// }
.search_Bar_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.meteo {
    display: flex;
    justify-content: center;
    border-style: solid ;
    border-width: 1px;
    border-color: black;
    height: 15vh;
    margin-bottom:25px;
    border-radius: 6pxS;
    
}
.meteo_sliders{
    display: flex;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    flex-direction: row;
    gap: 10px;
    scrollbar-width: thin;
    scrollbar-color: #aaa transparent;
    
}
// penser a add drag and scroll js
.meteo_sliders > img {
    flex: 0 0 auto;
    width: 100vh;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
    scroll-snap-align: start;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    cursor: grab;
    opacity: 0.85;
}

.background_meteo{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

.meteo_widget{
    position: absolute;
}

.body_app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.notif {
    background: #f0f0f0;
    padding: 2px;
    border-radius: 5px;
    color: var(--notif-text-color);
    background: var(--notif-background-color);
    width: auto;   
}
 
.notif + .notif {
    margin-top: 5px;
}


.notif.-blue {
    display: flex;
    align-content:center ;
    background-color: rgba($color: #000000, $alpha: 0.6);   
    --notif-text-color: #fff;
    height: 10vh;
    border: rgba($color: #ffffff, $alpha: 0.7) solid 1px;
    
}

.notif.-purple {
    display: flex;
    align-content:center ;
    background-color: rgba($color: #000000, $alpha: 0.6);
    --notif-text-color: white;
    height: 10vh;
    border: rgba($color: #ffffff, $alpha: 0.7) solid 1px;
    
}

.notif_content {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.notif_content_date {
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.notif_content_date .date {
    color:white;
}

.notif.-blue .notif_content_date .date {
    color: #fff;
}


.btn_bleu{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    background-color: #2281c5;
    border: solid black 1px;
    height: 4.8vh;
    margin-top: 1px;
    margin-bottom:var(--margin-bottom);

}
.btn_bleu_text{
    color: #fff;
    font-size: 20px;
}

.minuteur{
    display: flex;
    flex-direction: column;
    gap: 6px;
    overflow: hidden;
    height: 10vh;
    align-items: center;
    justify-content: center;
    height: 180px;
    border: 1px solid rgba($color: #ffffff, $alpha: 0.7);
    background-color: rgba($color: #000000, $alpha: 0.7);
    border-radius: var(--border-radius);
    margin-top: 20px;
    
}

.minuteur_titre{
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    
    
}

.minuteur_time{
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 65px;
    color: #fff;
}
.minuteur_container{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    align-content: center;
    gap: 22px;
    color: #2281c5;
    translate: 5px;
}

.btn_vert{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    background-color: #09af33;
    color: #fff;
    font-size: 20px;
    border: solid black 1px;
    height: 4.8vh;
    width: 90%;
    margin-top: 5px;
    margin-bottom: 2px;
    
}

.bloc {
    display: flex;
    justify-content: space-around;
    position: relative;
    align-content: center;
    margin-top: 30px;
    height: 20vh;
    gap: 30px;
    
    &_item {
        display: flex;
        border: 1px solid rgba($color: #ffffff, $alpha: 0.7);
        background-color: rgba($color: #000000, $alpha: 0.7);
        justify-content: center;
        border-radius: 6px;
        width: 50%;
        padding: 30px;

        img {
            max-width: 100%;
        }
    }
}